# Ignore build and log folders
/obj/
/logs/
/aws-deploy/
/qdrant_storage/collections/
/webapp/server/uploads/
/data_pipeline/__pycache__/
/New_features/

# Ignore config file
appsettings.json

# Ignore all bin folders everywhere
bin/
**/bin/
**/obj/
**/publish/

/General_Transitions/
/Pitchdeck/
/Employments/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
