<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <config>
    <add key="http_proxy.maxConnectionsPerServer" value="16" />
    <add key="http_proxy.request.timeout.milliseconds" value="180000" />
    <!-- Use persistent location instead of /tmp -->
  </config>
</configuration>
