@page "/"

<PageTitle>Dashboard</PageTitle>

<h1>Quant Research Agent Dashboard</h1>

<div class="row">
    <div class="col-md-6">
        <MarketDataWidget />
    </div>
    <div class="col-md-6">
        <SentimentWidget />
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <PortfolioWidget />
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <NewsWidget />
    </div>
    <div class="col-md-6">
        <RiskWidget />
    </div>
</div>