@page "/portfolio"

<PageTitle>Portfolio</PageTitle>

<h1>Portfolio Management</h1>

<div class="row">
    <div class="col-md-6">
        <PortfolioWidget />
    </div>
    <div class="col-md-6">
        <RiskWidget />
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <AlpacaAccountWidget />
    </div>
</div>