.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep .btn-link {
        color: #0d6efd;
    }

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .navbar-toggler {
        display: none;
    }

    .content {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

@media (max-width: 640px) {
    .sidebar {
        height: auto;
    }

    .top-row:not(.auth) {
        display: none;
    }

    .content {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.nav-scrollable {
    max-height: calc(100vh - 3.5rem);
    overflow-y: auto;
}

.nav-item ::deep .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    width: 100%;
}

.nav-item ::deep .nav-link.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.card {
    margin-bottom: 1rem;
}